$mobile: 767px;
$tablet: 1023px;
$laptop: 1439px;
$container-width: 1440;

@mixin mobile {
  @media (max-width: $mobile) {
    @content;
  }
}
@mixin mobile-above {
  @media (min-width: $mobile) {
    @content;
  }
}
@mixin tablet {
  @media (max-width: $tablet) {
    @content;
  }
}
@mixin laptop {
  @media (max-width: $laptop) {
    @content;
  }
}

@mixin hover {
  @media (hover: hover) {
    &:hover {
      @content;
    }
  }

  @media (hover: none) {
    &:active {
      @content;
    }
  }
}

@mixin hover-only {
  @media (hover: hover) {
    &:hover {
      @content;
    }
  }
}

@mixin fluid-text($max, $min) {
  font-size: clamp(#{$min}px, #{$max / $container-width * 100}vw, #{$max}px);
}
