:root {
  --transition-button: 0.3s ease;

  --container-width: 1440px;
  --container-padding-x: 25px;
  --container-padding-y: 50px;

  --color-primary-green: #02923d;
  --color-tint-green: #38a063;
  --color-alt-green: #70ac22;
  --color-dark-gray: #303030;
  --color-white-gray: #9b9a9a;
  --color-light-gray: #81899a;
  --color-gray-white: #bebebe;
  --color-maroon: #800000;
}
