@import "mixin", "varables", "global", "fonts", "blocks/popup", "blocks/burger",
  "blocks/header", "blocks/hero", "blocks/about", "blocks/freeConsultation",
  "blocks/catalog", "blocks/carousel", "blocks/footer";
