.gallery {
  &__title {
    line-height: 1;
    margin-bottom: 20px;
  }

  &__items {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;

    @include mobile {
      grid-template-columns: repeat(2, 1fr);
    }
  }

  &__item {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__img {
    width: 100%;
    aspect-ratio: 1;
    border: none;
    background: none;
    padding: 0;
    margin: 0;

    & img {
      object-fit: cover;
      border-radius: 10px;
      width: 100%;
      height: 100%;
    }
  }
}

.overlay {
  opacity: 0;
  visibility: hidden;
  position: fixed;
  inset: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.4);
  transition: var(--transition-button);

  &[aria-hidden="false"] {
    opacity: 1;
    visibility: visible;
  }
}

.slider {
  max-width: 80vw;
  max-height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  border-radius: 20px;

  &__items {
    width: 100%;
    height: 100%;
    overflow-x: scroll;
    display: flex;
    align-items: center;
    scroll-snap-type: x mandatory;
    gap: 15px;

    &::-webkit-scrollbar {
      display: none;
    }
  }

  &__item {
    flex: 1 0 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    scroll-snap-align: center;

    & img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
    }
  }

  &__button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: clamp(60px, 9%, 150px);
    aspect-ratio: 1;
    border: none;
    background: none;
    transition: var(--transition-button);
    opacity: 0.6;

    @include hover {
      cursor: pointer;
      opacity: 1;
    }

    &:first-of-type {
      left: 0;
    }

    &:last-of-type {
      right: 0;
    }
  }

  @include mobile {
    max-width: 100vw;
    max-height: 50vh;
  }
}
