.contact {
  &__description {
    color: var(--color-light-gray);
    margin-bottom: 20px;
  }

  &__contacts {
    &-items {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      column-gap: 20px;

      @media (max-width: 1200px) {
        grid-template-columns: repeat(2, 1fr);
        row-gap: 20px;
      }
    }

    &-item {
      display: flex;
      justify-content: center;
      align-items: center;

      &__link {
        color: black;
        text-decoration: none;
      }

      &__wrapper {
        max-width: 360px;
        display: flex;
        flex-direction: column;
        align-items: center;
        row-gap: 15px;
        border-radius: 5px;
        box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.15);
        padding: 10px 15px;
      }

      &__img {
        width: 60px;
        aspect-ratio: 1;
      }

      @media (max-width: 1200px) {
        &__geo {
          grid-column: 1 / -1;
          grid-row: 2;
        }
      }
    }
  }
}
