.contact {
  &__description {
    color: var(--color-light-gray);
    margin-bottom: 20px;
  }
}

.form {
  padding: 25px 30px;
  max-width: 414px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.08);

  &__title {
    font-size: 1.8rem;
    text-align: center;
    margin-bottom: 20px;
    line-height: 1.1;
  }

  &__items {
    display: flex;
    flex-direction: column;
    row-gap: 30px;
    margin-bottom: 20px;
  }

  &__item {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    position: relative;

    &:focus-within .form__label,
    .form__input:not(:placeholder-shown) + .form__label {
      top: -25px;
      left: 4px;
      color: #02923d;
    }

    .form__input:not(:focus) + .form__label {
      color: #999;
    }
  }

  &__label {
    font-size: 1.125rem;
    color: #999;
    position: absolute;
    left: 10px;
    top: 10px;
    pointer-events: none;
    transition: 0.2s ease all;
  }

  &__input {
    width: 100%;
    padding: 10px;
    font-size: 1.125rem;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    outline: none;

    &:focus {
      border-color: #02923d;
      box-shadow: 0 0 4px #02923e75;
    }

    &.just-validate-error-field {
      border-color: rgb(184, 17, 17);
      box-shadow: 0 0 4px rgb(184, 17, 17);
    }

    &:focus.just-validate-error-field {
      border-color: #dc7235;
      box-shadow: 0 0 4px #dc7235;

      & ~ .form__label {
        color: #dc7235;
      }

      & ~ .just-validate-error-label {
        color: #dc7235 !important;
      }
    }
  }

  &__textarea {
    min-height: 100px;
    resize: vertical;
  }

  &__button {
    width: 100%;
  }
}
