.burger {
  @include mobile-above {
    display: none;
    pointer-events: none;
  }

  &__inner {
    position: fixed;
    top: 0;
    right: 0;
    width: 250px;
    height: 100vh;
    padding: 25px;
    padding-top: 2vh;
    font-size: 1.125rem;
    color: white;
    background-color: var(--color-dark-gray);
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    transform: translateX(100%);
    overflow-y: scroll;
    transition: var(--transition-button);
    z-index: 9999;

    .burger__button[aria-expanded="true"] ~ & {
      transform: translate(0);
    }
  }

  &__button {
    position: fixed;
    top: 2vh;
    right: 2vw;
    width: 40px;
    aspect-ratio: 1;
    background-color: var(--color-dark-gray);
    border: none;
    opacity: 0.6;
    border-radius: 5px;
    transition: 0.1s ease background-color;
    --color-button-slashes: #ffffff;

    &::after {
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 60%;
      height: 2px;
      background-color: var(--color-button-slashes);
      box-shadow: 0 6px 0 0 var(--color-button-slashes),
        0 -6px 0 0 var(--color-button-slashes);
    }

    &:active {
      background-color: var(--color-white-gray);
    }
  }

  &__close {
    position: fixed;
    top: 2vh;
    right: 2vw;
    width: 40px;
    aspect-ratio: 1;
    background-color: var(--color-dark-gray);
    border: none;
    opacity: 0.6;
    border-radius: 5px;
    transition: 0.1s ease background-color;

    &::after,
    &::before {
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;
      width: 60%;
      height: 2px;
      background-color: white;
    }

    &::after {
      transform: translate(-50%, -50%) rotate(45deg);
    }
    &::before {
      transform: translate(-50%, -50%) rotate(-45deg);
    }
  }

  &__logo {
    padding-top: 40px;
  }

  &__nav {
    position: relative;
    padding-block: 20px;
    font-size: 1.4rem;

    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 1px;
      background-color: var(--color-white-gray);
    }

    &-items {
      display: flex;
      flex-direction: column;
      row-gap: 5px;
    }

    &-link {
      text-decoration: none;
      color: white;
    }
  }

  &__contacts {
    padding-block: 20px;
    display: flex;
    flex-direction: column;
    row-gap: 10px;

    &-time {
      display: flex;
      align-items: center;
      column-gap: 10px;

      &::before {
        content: "";
        display: block;
        width: 22px;
        aspect-ratio: 1;
        background: url("/images/burger/clock.svg") center / cover no-repeat;
      }
    }

    &-phone {
      display: flex;
      align-items: center;
      column-gap: 10px;

      &::before {
        content: "";
        display: block;
        width: 22px;
        aspect-ratio: 1;
        background: url("/images/burger/phone.svg") center / cover no-repeat;
      }
    }
  }
}
