.carousel {
  &__title {
    margin-bottom: 20px;
  }

  &__description {
    font-size: 1.125rem;
    margin-bottom: 20px;
  }

  &__button-link {
    text-decoration: none;
  }
}

.slider {
  position: relative;
  margin-bottom: 20px;
  max-width: 1000px;
  margin-inline: auto;
  aspect-ratio: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  border-radius: 20px;

  &__items {
    width: 100%;
    height: 100%;
    overflow-x: scroll;
    display: flex;
    align-items: center;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    gap: 15px;

    &::-webkit-scrollbar {
      display: none;
    }
  }

  &__item {
    flex: 1 0 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    scroll-snap-align: center;

    & img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
    }
  }

  &__button {
    position: absolute;
    bottom: 2%;
    // width: clamp(80px, 9%, 150px);
    width: clamp(60px, 9%, 150px);
    aspect-ratio: 1;
    border: none;
    background: none;
    transition: var(--transition-button);
    opacity: 0.6;

    @include hover {
      cursor: pointer;
      opacity: 1;
    }

    &:first-of-type {
      left: calc(50% - 60px);
      transform: translateX(-50%);
    }

    &:last-of-type {
      right: calc(50% - 60px);
      transform: translateX(50%);
    }
  }
}
