.carousel {
  &__title {
    margin-bottom: 20px;
  }
}

.slider {
  position: relative;
  margin-bottom: 20px;
  width: 100%;
  aspect-ratio: 2;
  overflow: hidden;
  //   padding: 20px 30px;
  //   border-radius: 20px;
  //   box-shadow: 0 0 8px 1px rgba(0, 0, 0, 0.1);
  //   background-color: black;

  &__images {
    display: flex;

    & > img {
      min-width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
      border-radius: 20px;
    }
  }

  &__button {
    position: absolute;
    bottom: 20px;
    width: 80px;
    aspect-ratio: 1;
    border: none;
    background: none;
    transition: var(--transition-button);
    opacity: 0.6;

    @include hover {
      cursor: pointer;
      opacity: 1;
    }

    &:first-of-type {
      left: calc(50% - 60px);
      transform: translateX(-50%);
    }

    &:last-of-type {
      right: calc(50% - 60px);
      transform: translateX(50%);
    }
  }
}
