.footer {
  background-color: var(--color-dark-gray);
  color: white;

  &__contacts {
    position: relative;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    column-gap: 50px;
    padding-bottom: 25px;
    font-size: 1.125rem;
    text-align: center;

    @media (max-width: 832px) {
      display: none;
    }

    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 1px;
      background-color: var(--color-white-gray);
    }

    &-phone {
      display: flex;
      flex-direction: column;
      align-items: center;
      row-gap: 20px;

      &-img {
        position: relative;
        background-color: var(--color-tint-green);
        width: 50px;
        aspect-ratio: 1;
        border-radius: 50%;

        &::after {
          content: "";
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          width: 70%;
          aspect-ratio: 1;
          background: url("/images/footer/phone.svg") center / cover no-repeat;
        }
      }
    }

    &-mail {
      display: flex;
      flex-direction: column;
      align-items: center;
      row-gap: 20px;

      &-img {
        position: relative;
        background-color: var(--color-tint-green);
        width: 50px;
        aspect-ratio: 1;
        border-radius: 50%;

        &::after {
          content: "";
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          width: 70%;
          aspect-ratio: 1;
          background: url("/images/footer/mail.svg") center / cover no-repeat;
        }
      }
    }

    &-geo {
      display: flex;
      flex-direction: column;
      align-items: center;
      row-gap: 20px;

      &-img {
        position: relative;
        background-color: var(--color-tint-green);
        width: 50px;
        aspect-ratio: 1;
        border-radius: 50%;

        &::after {
          content: "";
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          width: 70%;
          aspect-ratio: 1;
          background: url("/images/footer/address.svg") center / cover no-repeat;
        }
      }
    }
  }

  &__body {
    padding-block: 25px;
    padding-inline: 50px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 50px;
    row-gap: 25px;

    @media (max-width: 832px) {
      padding: 0;
    }

    @media (max-width: 610px) {
      grid-template-columns: 1fr;
    }
  }

  &__nav {
    font-size: 1.2rem;
    position: relative;

    &-title {
      margin-bottom: 20px;
      font-weight: 600;
      font-size: 1.375rem;
    }

    &-items {
      display: flex;
      flex-direction: column;
      row-gap: 10px;
    }

    @media (max-width: 832px) {
      &::before {
        content: "";
        position: absolute;
        top: 0;
        right: -25px;
        height: 100%;
        width: 2px;
        background-color: var(--color-white-gray);
      }
    }

    @media (max-width: 610px) {
      padding-bottom: 25px;

      &::after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 1px;
        background-color: var(--color-white-gray);
      }

      &::before {
        display: none;
      }
    }
  }

  &__body-contacts {
    display: none;
    font-size: 1.2rem;

    @media (max-width: 832px) {
      display: block;
      width: max-content;
      justify-self: center;

      &__title {
        margin-bottom: 20px;
        font-weight: 600;
        font-size: 1.375rem;
      }

      &__items {
        display: flex;
        flex-direction: column;
        row-gap: 10px;
      }
    }

    @media (max-width: 610px) {
      justify-self: start;
      width: 100%;
    }
  }

  &__yaCard {
    &-card {
      max-width: 610px;
      width: 100%;
      aspect-ratio: 1.5;
      background-color: white;
    }

    @media (max-width: 940px) {
      grid-column: 1 / -1;
      position: relative;
      padding-top: 25px;

      &::after {
        content: "";
        position: absolute;
        top: 0;
        left: -50px;
        width: calc(100% + 100px);
        height: 1px;
        background-color: var(--color-white-gray);
      }
    }

    @media (max-width: 832px) {
      &::after {
        width: 100%;
        left: 0;
      }
    }
  }
}
