.footer {
  background-color: var(--color-dark-gray);
  color: white;

  &__contacts {
    position: relative;

    padding-bottom: 25px;
    font-size: 1.125rem;
    text-align: center;

    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 1px;
      background-color: var(--color-white-gray);
    }

    &-items {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      justify-items: center;
      column-gap: 50px;

      @media (max-width: 830px) {
        grid-template-columns: 1fr;
        row-gap: 20px;
        justify-items: start;
      }
    }

    &-link {
      max-width: 300px;
      text-decoration: none;
      color: white;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      row-gap: 10px;
      line-height: 1.2;

      @media (max-width: 830px) {
        flex-direction: row;
        column-gap: 10px;
        max-width: 500px;
        text-align: start;
      }
    }

    &-img {
      flex-shrink: 0;

      & img {
        width: 60px;
        aspect-ratio: 1;

        @media (max-width: 830px) {
          width: 30px;
        }
      }
    }
  }

  &__body {
    padding-block: 25px;
    padding-inline: 50px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 50px;
    row-gap: 25px;

    @media (max-width: 832px) {
      padding-inline: 0;
    }

    @media (max-width: 610px) {
      grid-template-columns: 1fr;
    }
  }

  &__nav {
    font-size: 1.2rem;
    position: relative;

    &-title {
      margin-bottom: 20px;
      font-weight: 600;
      font-size: 1.375rem;
    }

    &-items {
      display: flex;
      flex-direction: column;
      row-gap: 10px;
    }
  }

  &__yaCard {
    &-card {
      max-width: 610px;
      width: 100%;
      aspect-ratio: 1.5;
      background-color: white;
    }

    @media (max-width: 940px) {
      grid-column: 1 / -1;
      position: relative;
      padding-top: 25px;

      &::after {
        content: "";
        position: absolute;
        top: 0;
        left: -50px;
        width: calc(100% + 100px);
        height: 1px;
        background-color: var(--color-white-gray);
      }
    }

    @media (max-width: 832px) {
      &::after {
        width: 100%;
        left: 0;
      }
    }
  }
}
