.freeConsultation {
  position: relative;
  color: white;

  &::after {
    content: "";
    position: absolute;
    inset: 0;
    z-index: -1;
    background: url("/images/freeConsultation/background.png") center center /
      cover no-repeat;
    filter: brightness(0.5);
  }

  &__description {
    margin-bottom: 20px;
  }
}
