.header {
  @include mobile {
    display: none;
    margin: 0;
    padding: 0;
  }

  &__inner {
    padding-block: 0px;
  }

  &__contacts {
    margin-bottom: 3px;
    padding-block: 10px;
    border-bottom: 1px solid #cccccc50;

    &-items {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    &-item {
      display: flex;
      column-gap: 1em;

      &:last-of-type {
        column-gap: 5px;
      }
    }

    &-phone {
      display: flex;
      align-items: center;
      justify-content: center;
      column-gap: 0.2em;
    }
    &-address {
      display: flex;
      align-items: center;
      justify-content: center;
      column-gap: 0.3em;
    }
  }

  &__wrapper {
    display: flex;
    justify-content: space-between;
  }

  &__nav {
    display: flex;
    align-items: center;
    justify-content: center;

    &-items {
      display: flex;
      column-gap: 1em;
    }

    &-link {
      height: 2.5em;
      display: flex;
      align-items: center;
    }
  }
}
