.popup {
  position: fixed;
  top: 2vh;
  left: 2vw;
  padding: 20px 40px 20px 30px;
  font-size: 1.125rem;
  //   max-width: 233px;
  background-color: white;
  border-radius: 20px;
  transform: translate(-100%) scale(0.5);
  transition: var(--transition-button);

  &[aria-hidden="false"] {
    display: block;
    transform: translate(0) scale(1);
  }

  &__close {
    position: absolute;
    top: 10%;
    right: 5%;
    width: 30px;
    aspect-ratio: 1;

    &::after,
    &::before {
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;
      width: 60%;
      height: 2px;
      background-color: black;
    }

    &::after {
      transform: translate(-50%, -50%) rotate(45deg);
    }
    &::before {
      transform: translate(-50%, -50%) rotate(-45deg);
    }
  }

  &__inner {
    display: flex;
    flex-direction: column;
    // row-gap: 10px;

    & span:first-child {
      font-weight: 600;
      line-height: 1.2;
    }

    & span:last-child {
      font-size: 1rem;
    }
  }

  &__timer {
    height: 4px;
    background: #ccc;
    margin-top: 10px;
    border-radius: 2px;
  }

  &[aria-hidden="false"] &__timer {
    animation: timerBar 3s linear forwards;
  }

  @keyframes timerBar {
    from {
      transform: scaleX(1);
    }
    to {
      transform: scaleX(0);
    }
  }
}
