.catalog {
  &__title {
    margin-bottom: 20px;
  }

  &__items {
    margin-bottom: 20px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);

    @include tablet {
      grid-template-columns: repeat(2, 1fr);
    }

    @media (max-width: 650px) {
      grid-template-columns: 1fr;

      .product {
        max-width: 400px;
      }
    }
  }

  &__button-link {
    text-decoration: none;
  }
}

.product {
  border-radius: 20px;
  max-width: 450px;
  padding: 10px 25px;
  transition: var(--transition-button);

  &__img {
    margin-bottom: 10px;
    aspect-ratio: 1.2;
    & img {
      width: 100%;
      height: 100%;
      border-radius: 20px;
    }
  }

  &__wrapper {
    padding-inline: 10px;
  }

  &__title {
    font-size: 1.25rem;
    font-weight: 400;
  }

  &__price {
    font-size: 1.125rem;
    font-weight: 700;
  }

  &__description {
    font-size: 0.95rem;
    color: #81899a;
  }

  @include hover-only {
    transform: translateY(-5px);
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.15);
    cursor: pointer;
  }
}
